@model NewsViewModel

<h1 class="lng-latest" align="center">THE LATEST NEWS</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (News oneNews in Model.News)
        {
            @Html.Partial("AllNews", oneNews)
        }
    }
</div>

<script src="~/js/lang.js"></script>
<script src="~/js/site.js"></script>